<h1>To Do</h1>

<p>Here are all your tasks:</p>

<ul>
  <% @tasks.not_done().each do |task| %>
  <li><h2><%= task.description %></h2> <a href="/tasks/<%= task.id() %>/edit">Update this task's description</a></li>
  <% end %>
</ul>

<p>Create a new task:</p>

<form action='/tasks' method='post'>
<label for='description'>Description</label>
<input id='description' name='description' type="text">

<button type='submit'>Add task</button></br>
</br>
</br>
</br>
<button type='submit'>Add New List</button>

</form>
